.App {
  text-align: center;
}

body {
  background: #333;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0 auto;
  margin: 0 auto;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

